* {
    box-sizing: border-box;
    font-size: 1em !important;
    font-family: Helvetica !important;
}

 

body {
    margin: 0px;
}

.background {
    background-color: #c6ccd2;
    margin-left: 5%;
    margin-right: 5%;

}

.header {
    background-color: #c6ccd2;
    padding: 15px;
    text-align: center;

}

.controlbar {
    text-align: center;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.column_1 {
    float: left;
    width: 50.0%;
    padding: 10px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.column_2 {
    float: left;
    width: 50.0%;
    padding: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.button {
    background-color: #85929e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button:hover {
    background-color: #c6ccd2;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1050px) {
    .column_1 {
        width: 100%;
    }
    .column_2 {
        width: 100%;
    }

}
